$--md-color-1: 230, 243, 255 !default;
$--md-color-2: 184, 221, 255 !default;

$variables: (
  'color-1': $--md-color-1,
  'color-2': $--md-color-2
);

// 3
@mixin md-linear($colors, $direction: to right) { 
  $gradient: ();
  $css3Gradient: ();

  @for $i from 1 through length($colors) {
    $item: nth($colors, $i);
    $key: nth($item, 1);
    $value: map-get($map: $variables, $key: $key);
    $color: rgb(nth($value, 1), nth($value, 2), nth($value, 3));
    $cssColor: rgb(var(--md-#{$key}, $value));

    @if (length($item) == 2) {
      $dump: nth($item, 2);
      $gradient: append($gradient, ($color $dump), $separator: comma);
      $css3Gradient: append($css3Gradient, ($cssColor $dump), $separator: comma);
    } @else {
      $gradient: append($gradient, $color, $separator: comma);
      $css3Gradient: append($css3Gradient, $cssColor, $separator: comma);
    }
  }

  background-image: linear-gradient($direction, $gradient);
  background-image: linear-gradient($direction, $css3Gradient);
}

@mixin md-radial($colors, $direction: circle at center) { 
  $gradient: ();
  $css3Gradient: ();

  @for $i from 1 through length($colors) {
    $item: nth($colors, $i);
    $key: nth($item, 1);
    $value: map-get($map: $variables, $key: $key);
    $color: rgb(nth($value, 1), nth($value, 2), nth($value, 3));
    $cssColor: rgb(var(--md-#{$key}, $value));

    @if (length($item) == 2) {
      $dump: nth($item, 2);
      $gradient: append($gradient, ($color $dump), $separator: comma);
      $css3Gradient: append($css3Gradient, ($cssColor $dump), $separator: comma);
    } @else {
      $gradient: append($gradient, $color, $separator: comma);
      $css3Gradient: append($css3Gradient, $cssColor, $separator: comma);
    }
  }

  background-image: radial-gradient($direction, $gradient);
  background-image: radial-gradient($direction, $css3Gradient);
}


.linear {
  @include md-linear((color-1, color-2));
}

.linear-2 {
  @include md-linear((color-1, color-2 50%));
}

.linear-3 {
  @include md-linear((color-1, color-2), to bottom);
}

.radial {
  @include md-radial((color-1, color-2));
}

.radial-2 {
  @include md-radial((color-1, color-2 50%));
}

.radial-3 {
  @include md-radial((color-1, color-2), closest-side);
}
