$md-color-1: 255, 0, 0;
$md-color-2: 0, 255, 0;
$md-color-3: 0, 0, 255;

$variables: (
  'color-1': $md-color-1,
  'color-2': $md-color-2,
  'color-3': $md-color-3
);

// 1
@mixin background-gradient($start-color, $end-color, $orientation) { 
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// 2
@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image:-moz-linear-gradient($from, $to);
  /* Opera */
  background-image:-o-linear-gradient($from, $to);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}

// 3
@mixin md-linear($colors, $direction: to right) { 
  $gradient: ();
  $css3Gradient: ();

  @for $i from 1 through length($colors) {
    $item: nth($colors, $i);
    $key: nth($item, 1);
    $value: map-get($map: $variables, $key: $key);
    $color: rgb(nth($value, 1), nth($value, 2), nth($value, 3));
    $cssColor: rgb(var(--md-#{$key}, $value));

    @if (length($item) == 2) {
      $dump: nth($item, 2);
      $gradient: append($gradient, ($color $dump), $separator: comma);
      $css3Gradient: append($css3Gradient, ($cssColor $dump), $separator: comma);
    } @else {
      $gradient: append($gradient, $color, $separator: comma);
      $css3Gradient: append($css3Gradient, $cssColor, $separator: comma);
    }
  }

  background-image: linear-gradient($direction, $gradient);
  background-image: linear-gradient($direction, $css3Gradient);
}

@mixin md-radial($colors, $direction: circle at center) { 
  $gradient: ();
  $css3Gradient: ();

  @for $i from 1 through length($colors) {
    $item: nth($colors, $i);
    $key: nth($item, 1);
    $value: map-get($map: $variables, $key: $key);
    $color: rgb(nth($value, 1), nth($value, 2), nth($value, 3));
    $cssColor: rgb(var(--md-#{$key}, $value));

    @if (length($item) == 2) {
      $dump: nth($item, 2);
      $gradient: append($gradient, ($color $dump), $separator: comma);
      $css3Gradient: append($css3Gradient, ($cssColor $dump), $separator: comma);
    } @else {
      $gradient: append($gradient, $color, $separator: comma);
      $css3Gradient: append($css3Gradient, $cssColor, $separator: comma);
    }
  }

  background-image: radial-gradient($direction, $gradient);
  background-image: radial-gradient($direction, $css3Gradient);
}

.stripes {
  @include md-linear((color-1, color-2));
}

.stripes2 {
  @include md-radial((color-1, color-2));
}
