$--font-size: 20px;

:root {
  --font-size: #{$--font-size};
  --color: green;
  --css-prefix: 'r'
}

$--css-prefix: var(--css-prefix);

.app {
  font-size: var(--font-size);
}

.app2 {
  color: red;
  color: var(--color, red);
}

.app3 {
  &:before {
    content: #{$--css-prefix}'ed';
  }
}