$--font-size: 20px;

:root {
  --font-size: #{$--font-size};
  --color: green;
  --css-prefix: 'r';
}

body {
  --font-size: 20px;
  .app {
    font-size: var(--font-size);
  }
  
  .app2 {
    color: red;
    color: var(--color, red);
  }
  
  .app3 {
    font-size: var(--font-size);
    &:before {
      content: var(--css-prefix)'ed';
    }
  }
}
